name: Build nginx unprivileged

on:
  push:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          buildx-version: latest
      - name: login to docker hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: Build the webserver
        run: cd ${GITHUB_WORKSPACE}/../nginx/unprivileged/ && docker buildx build --build-arg --platform linux/amd64,linux/arm/v7 -t larsnieuwenhuizen/nginx-unprivileged . --push
